.header {
    background-color: var(--background-color-light-2);
    border: 1px solid var(--background-color-light-1);
    padding: 10px; 
    margin-bottom: 20px; 
    text-align: center;
    color: var(--background-color); 
}
  
.header h1 {
    font-size: 24px;
}